:root {
    /* Complete palete: https://coolors.co/ffffff-fff8e8-fcd581-d52941-990d35 */
    /* styles with this palete https://coolors.co/visualizer/06070e-29524a-94a187-e5e3dc-c5afa0 */

    --primary-color: #990D35;
    --secundary-color: #1a0a0f;
    --ascent1-color: #f26454;
    --ascent2-color: #FFF8E8;
    --ascent3-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3em;
    background: rgb(94, 177, 191);
    background: radial-gradient(circle, #ffff 50%, #FCD581 100%);
}

h1,
h2 {
    font-weight: 400;
    text-align: center;
}

h2 {
    font-weight: bold;
    transition: .5s;
}

h2:hover {
    transition: .5s;
    letter-spacing: 5px;
}

p {
    font-family: "Esteban", serif;
    font-style: italic;
}

/* nav bar */
header {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 15% auto;
    background-color: var(--ascent1-color);
    width: 100%;
    position: sticky;
    top: 0; 
    z-index: 1;
}

header img {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    transition: .4s;

}

header img:hover {
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: .4s;

}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

header a {
    color: var(--secundary-color);
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: .4s;

}

header a:hover {
    background-color: var(--primary-color);
    color: var(--ascent3-color);
    text-decoration: underline;
    transition: .4s;

}

main {
    margin: 0 auto;
    max-width: 1150px;
}

/* hero */

.hero {
    display: flex;
    position: relative;
    height: auto;

}

.hero h2 {
    color: var(--ascent3-color);
}

p {
    font-size: 1.3em;
}

.hero-back {
    display: block;
    width: 100%;
}

.title {
    color: var(--primary-color);
    font-weight: bold;
    position: absolute;
    padding: .5rem;
    width: 100%;
    background-color: var(--ascent2-color);
    transition: .5s;
}

.title:hover {
    transition: .5s;
    letter-spacing: 10px;
}

article {
    position: absolute;
    margin: 5rem;
    border-radius: 20px;
}

article img {
    float: right;
    width: 230px;
    right: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    transition: .5s;
}

article img:hover {
    filter: sepia(1);
    transition: .5s;
}

article p {
    color: var(--ascent2-color);
    text-shadow: 0 4px black;
}

/* second page */

.history .title-container {
    padding: 1rem;
    color: var(--secundary-color);
    font-weight: bold;
}

.history {
    background-color: var(--ascent1-color);
}

.history>.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.history>.container p {
    margin: 1rem;
    color: var(--secundary-color);
}

.history img {
    width: 250px;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 5px 5px 10px var(--primary-color);
    transition: .5s;
}

.history img:hover {
    filter: sepia(1);
    transition: .5s;
}

.adventure {
    background-color: var(--ascent3-color);
}

.adventure .title-container {
    padding: 1rem;
    color: var(--primary-color);
    font-weight: bold;
}

.adventure .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adventure figure {
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
    transition: .5s;
}


.adventure figure:hover {
    background-color: var(--ascent1-color);
    color: var(--secundary-color);

    transition: .5s;

}

.adventure img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    transition: .5s;
}

.adventure img:hover {
    filter: sepia(1);
    transition: .5s;
}

.adventure figcaption {
    font-size: 0.8em;
    padding: 0;
    font-style: italic;
}

.location {
    display: grid;
    grid-template-columns: 400px 1fr;
    background-color: var(--ascent3-color);
    border-radius: 20px 20px 0 0;
}

.location .info {
    display: flex;
    flex-direction: column;
    background-color: var(--ascent2-color);
    color: var(--primary-color);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.512);
}

.location .info a {
    margin: 10px;
    line-height: 25px;
    font-size: 1rem;
    font-weight: bold;
}

main h1 {
    color: var(--primary-color);
    font-weight: bold;
    padding: .5rem;
    width: 100%;
    transition: .5s;
}

main h1:hover {
    transition: .5s;
    letter-spacing: 10px;
}


.location .map iframe {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 0;
}

.employees {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--ascent1-color);

}

.employees .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

.employees .container figure {
    background-color: var(--primary-color);
    margin: 20px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.512);
    transition: .4s;
}

.employees .container figure:hover {
    background-color: #990d35aa;
}

.employees .container img {
    width: 350px;
    height: auto;
    margin: 10px;
    border-radius: 1rem;
    transition: .5s;
}

.employees .container img:hover {
    filter: sepia(1);
    transition: .5s;
}

.employees .container figcaption {
    font-style: italic;
    color: var(--ascent3-color);
}

.employees h2,
.form h2 {
    margin: 15px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--ascent3-color);
}

form {
    display: grid;
    border-radius: 0.5rem;
    width: 650px;
    margin: 15px;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--ascent2-color);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.512);
    font-weight: bold;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    margin: .5rem 0;
}

.column2 label {
    margin: 10px;
    text-align: start;
}

.column3 {
    margin: 15px;
    text-align: center;
}

.column3 input {
    margin-right: 15px;
}

input[type="radio"] {
    vertical-align: bottom;
    width: 22px;
    height: 22px;
}

legend {
    font-size: 1.3rem;
    padding: 0.5rem;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}


label {
    text-align: left;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    vertical-align: bottom;
    width: 22px;
    height: 22px;
}

button {
    background-color: var(--ascent2-color);
    margin: 1rem;
    color: var(--secundary-color);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    transition: .4s;
}

.contact button:hover {
    background-color: var(--ascent3-color);
    transition: .4s;
}

.hero-index h2 {
    background-color: var(--ascent1-color);
    color: var(--secundary-color);
}

.sign-up {
    background-color: black;
}

.sign-up h2 {
    color: var(--ascent3-color);
}

.sign-up form {
    background-color: var(--ascent2-color);
    color: var(--primary-color);
}

.sign-up button {
    background-color: var(--ascent1-color);
    color: var(--secundary-color);

    cursor: pointer;
}

.sign-up button:hover {
    background-color: var(--primary-color);
    color: var(--ascent2-color);
}

.trips {
    position: relative;
    background: var(--ascent1-color);
    background: linear-gradient(0deg, var(--ascent1-color) 30%, rgba(0, 0, 0, 1) 100%);
}

.trips h2 {
    border-radius: 20px 20px 0 0;
    position: absolute;
    text-align: center;
    color: var(--ascent2-color);
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
}

.trips a {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40%;
    height: 20%;
    box-shadow: 5px 10px 10px black;
    font-size: 1.9rem;
    border-radius: 1.9rem;
    transition: .5s;
    background-color: var(--ascent2-color);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--primary-color);
}

.trips a:hover {
    text-decoration: underline;
    transition: .5s;
    background-color: var(--ascent3-color);
    text-decoration: underline;
}

.trips img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;

}

.purposes {
    background-color: var(--ascent3-color);
}

.purposes h2 {
    padding: 1rem;
}

.purposes .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.img-figure {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-figure p {
    width: 90%;
    margin-bottom: 1rem;
}

.purpose {
    background-color: var(--primary-color);
    width: 90%;
    margin: 1rem;
    box-shadow: 5px 10px 10px black;
    cursor: pointer;
    transition: .5s;
}

.purpose:hover {
    transition: .5s;
    background-color: var(--ascent1-color);
}

.purpose figcaption {
    color: var(--ascent2-color);
    font-size: 1rem;
    margin-left: 1rem;
    padding: .5rem;
}

.purpose img {
    width: 100%;
    height: 300px;
    transition: .5s;
}

.purpose img:hover {
    filter: sepia(1);
    transition: .5s;
}

.hero-trips {
    position: relative;
}

.hero-trips img {
    display: block;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hero-trips a {
    cursor: pointer;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40%;
    height: 20%;
    box-shadow: 5px 10px 10px black;
    font-size: 1.9rem;
    border-radius: 1.9rem;
    transition: .5s;
    background-color: var(--ascent2-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary-color);
}

.hero-trips a:hover {
    transition: .5s;
    background-color: var(--ascent3-color);
    text-decoration: underline;
}

.trips-detiled .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trips-detiled h2 {
    color: var(--secundary-color);
    padding: 2rem;
    background-color: var(--ascent1-color);
    width: 100%;
    border-radius: 0 0 20px 20px;
    margin-bottom: 2rem;
}

.trip-figure {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.trip-figure figcaption {
    background-color: var(--primary-color);
    width: 70%;
    color: var(--ascent2-color);
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.486);
    text-align: center;
}

.trip-figure p {
    padding: 1rem;
    background-color: var(--ascent2-color);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 90%;
}

.trips-detiled img {
    width: 70%;
    height: 250px;
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.486);
    transition: .5s;
}

.trips-detiled img:hover {
    transition: .5s;
    filter: sepia(1);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
    text-align: start;
    font-size: 1rem;
}

thead,
th {
    background-color: var(--ascent2-color);
    font-size: 1.5rem;
    transition: .5s;
}

th:hover {
    background-color: var(--ascent3-color);
    transition: .5s;
}

td:hover {
    transition: .5s;
    background-color: var(--ascent2-color);
}

th,
td {
    padding: 8px 10px;
    padding: 1rem;
    font-size: 1.5rem;
    font-style: italic;
}

td {
    background-color: var(--ascent3-color);
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    bottom: 0;
    padding: 10px;
    color: var(--secundary-color);
    background-color: var(--ascent1-color);
}

footer p {
    font-style: normal;
    display: flex;
    justify-content: start;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    color: var(--secundary-color);
    padding: 5px;
    transition: .4s;

}

footer a:hover {
    transition: .4s;
    background-color: var(--primary-color);
    color: var(--ascent2-color);
}


.social-media {
    display: flex;
    justify-content: end;
    margin: 10px;
    text-decoration: none;
}

.social-media a {
    margin: 10px;
}

.social-media img {
    border-radius: 100%;
}

/* @media (max-width:1150px) {


    p {
        font-size: 1.1em;
    }

    .hero-back {
        display: block;
        width: 100%;
    }

    .title {
        color: var(--ascent3-color);
        position: absolute;
        width: 100%;
    }

    article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    article img {
        float: none;
        margin: 0;
        width: 40%;

    }

    article p {
        color: var(--ascent3-color);
        margin: 30px;
    }

    form {
        width: 70%;
    }
} */