:root {
    /* Complete palete: https://coolors.co/042a2b-5eb1bf-54f2f2-9900ff-fcfcfc */
    /* styles with this palete https://coolors.co/visualizer/06070e-29524a-94a187-e5e3dc-c5afa0 */

    --primary-color: #042a2b;
    --secundary-color: #5eb1bf;
    --ascent1-color: #54f2f2;
    --ascent2-color: #9900ff;
    --ascent3-color: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3em;
    background-color: var(--ascent3-color);
}

h1,
h2 {
    font-weight: 400;
    text-align: center;
}

p {
    font-family: "Esteban", serif;
    font-style: italic;
}

/* nav bar */
header {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 15% auto;
    background-color: var(--secundary-color);
}

header img {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}

header img:hover {
    background-color: var(--ascent1-color);
    border-radius: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

header a {
    color: var(--ascent3-color);
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

header a:hover {
    background-color: var(--ascent1-color);
    color: var(--ascent2-color);
}

/* hero */

.hero {
    display: flex;
    position: relative;
}

p {
    font-size: 1.3em;
}

.hero-back {
    display: block;
    width: 100%;
}

.title {
    color: var(--ascent3-color);
    position: absolute;
    width: 100%;
}

article {
    position: absolute;
    background-color: #042a2baa;
    margin: 60px;
    border-radius: 20px;
}

article img {
    float: right;
    width: 400px;
    right: 30px;
    top: 30px;
    margin: 30px;
    border-radius: 20px;
}

article p {
    color: var(--ascent3-color);
    margin: 50px;
}

/* second page */

.title-container {
    margin: 20px;
}

.history {
    background-color: var(--ascent1-color);
    padding: 20px;
    height: auto;
}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adventure figure {
    margin: 10px;
}

.adventure img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.adventure figcaption {
    font-size: 0.8em;
    padding: 0;
    font-style: italic;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    border-top: 1px solid var(--secundary-color);
    padding: 10px;
}

footer p {
    font-style: normal;
    display: flex;
    justify-content: start;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: end;
    margin: 10px;
    text-decoration: none;
}

.social-media a {
    margin: 10px;
}

.social-media img {
    border-radius: 100%;
}