* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F2FDFF;
    --secundary-color: #22577A;
    --background-color: #38A3A5;
    --background-color-body: #57CC99;
}

body {
    font-family: "montserrat", sans-serif;
    background-color: var(--background-color);
    font-size: 1.2rem;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    text-align: center;
    margin-top: 15px;
    color: var(--primary-color);
}

form {
    display: grid;
    border-radius: 0.5rem;
    width: 650px;
    margin: 15px;
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--secundary-color);
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-column: 3fr 1fr;
    margin: .5rem 0;
}

.column2{
    grid-template-columns: 1fr 2fr;
    margin: .5rem 0;
}

legend {
    font-size: 1.3rem;
    padding: 0.5rem;
}

fieldset{
    display: grid;
    grid-gap:0.5rem;
    margin: 1rem;
    padding: 1rem;
}

label,input,button, select,textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    text-align: right;
    padding-right: 1rem;
}

input, select,textarea{
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{
    vertical-align: bottom;
    width: 22px;
    height: 22px;
}

button{
    background-color: var(--background-color-body);
    margin: 1rem;
    color: var(--secundary-color);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

button:hover{
    background-color: aquamarine;
}
footer{
    text-align: center;
    color: var(--primary-color);
    margin: 1rem;
    border-top: 2px solid var(--primary-color);
    padding: 1rem;
}