* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title: rgb(35, 35, 46);
    --coral: coral;
    --coral-2: rgb(255, 172, 142);
    --coral-3: rgb(232, 97, 48);
    --coral-4: rgb(244, 138, 99);
    --coral-5: rgb(255, 201, 181);
    --background: rgb(255, 255, 240);

}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background);
}

h1,
p {
    color: var(--title);
    text-align: center;
    margin: 10px;
}

p {
    font-style: italic;
}

.ex1 {
    display: grid;
    place-items: center;
}

.ex1 .parent {
    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
    color: var(--title);
    background-color: var(--coral);
    border-radius: 5px;
}

.ex2 .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ex2 .box {
    background-color: var(--coral);
    margin: 10px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    flex: 0 1 200px;
    height: 200px;
}

.ex3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ex3 .parent {
    width: 60%;
    display: grid;
    grid-template-columns: minmax(150px, 20%) auto;
}

.ex3 .section-1 {
    background-color: var(--coral);
}

.ex3 .section-2 {
    background-color: var(--coral-2);
    padding: 15px;
}

.ex3 .section-2 p {
    margin: 15px;
    text-align: start;

}

.ex3 ul {
    margin: 15px;
    list-style: none;
}

.ex3 li {
    padding: 10px;
}

.ex3 a {
    text-decoration: none;
    color: var(--title);
}

.ex4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ex4 .parent {
    width: 60%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.ex4 header {
    padding: 10px;
    background-color: var(--coral);
    text-align: center;
}

.ex4 main {
    background-color: var(--coral-2);
    padding: 10px;
}

.ex4 footer {
    text-align: center;
    background-color: var(--coral-3);
    padding: 10px;
}

.ex4 p {
    text-align: start;
}

.ex5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex5 .parent {
    width: 60%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.ex5 header {
    text-align: center;
    padding: 10px;
    grid-column: 1/4;
    background-color: var(--coral);
}

.ex5 .aside-1 {
    padding: 10px;
    background-color: var(--coral-3);
    grid-column: 1/2;
}

.ex5 main {
    padding: 10px;
    background-color: var(--coral-2);
    grid-column: 2/3;
}

.ex5 main p {
    text-align: start;
}

.ex5 .aside-2 {
    padding: 10px;
    background-color: var(--coral-4);
    grid-column: 3/4;
}

.ex5 footer {
    text-align: center;
    padding: 10px;
    background-color: var(--coral-5);
    grid-column: 1/4;
}

.ex6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex6 .parent {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 60%;
    height: 400px;
    text-align: center;
}

.ex6 .span-12 {
    background-color: var(--coral-3);
    grid-column: 1/13;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ex6 .span-6 {
    background-color: var(--coral);
    grid-column: 5/11;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ex6 .span-4 {
    background-color: var(--coral-4);
    grid-column: 4/9;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ex6 .span-2 {
    background-color: var(--coral-2);
    grid-column: 2/10;
    align-items: center;
    display: flex;
    justify-content: center;
}