*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#F2FDFF;
    --secundary-color:#9AD4D6;
    --background-color:#564787;
    --background-color-body:#DBCBD8;
}

body{
    font-family: "montserrat", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    background-color: var(--background-color-body);

}

h1{
    text-align: center;
    color: var(--background-color);
    padding: 1rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
    width: 550px;
    border-radius: 15px;
    padding: 2rem;
    margin: 10px;
}

input,textarea,select,button,option{
    margin: 10px;
    width: 90%;
    height: 40px;
    border-radius: 7px;
}

label{
    color: var(--primary-color);
    text-align: start;
    font-style: italic;
    font-size: 0.8em;
}

textarea{
    height: 70px;

}

button{
    background-color: #9AD4D6;
    transition: 1s;
}

button:hover{
    background-color: #c7f9fb;
    transition: 1s;
}